.data-table-container{
table tr th{
    background-color: whitesmoke;
}
}

.present{
    background-color: rgba(0, 128, 0, 0.337);
}
.absent{
    background-color: rgba(255, 0, 0, 0.337);
}

.downloadAttendanceLastMonthBtn{
    padding: 3px;
    margin: 0 3px;
    font-family: sans-serif;
    cursor: pointer;
}