/* tailwind imported */
/* @import "tailwindcss"; */

/* tables */
table,
tr,
td,
th {
  border: 1px solid black;
}
table {
  border-collapse: collapse;
}

th,
td {
  padding: 5px;
  text-align: center;
}

input[type="radio"].present {
  accent-color: green;
}
input[type="radio"].absent {
  /* border:1px solid green; */
  accent-color: red;
}

/* LOGIN FORM STYLE */
.login-form fieldset {
  border: 1px solid slategray;
  border-radius: 10px;
  padding: 10px 20px;
  margin: auto;
  margin-top: 20px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content:center;
  align-items: center;
  box-shadow: -2px -2px 3px 3px rgba(58, 57, 57, 0.526) inset,
    2px 2px 3px 3px rgba(215, 220, 215, 0.447) inset;
}

.login-form fieldset div {
    width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-form legend {
  border-radius: 10px;
  padding: 8px 10px;
  font-weight: 600;
}

.login-form input {
  padding: 8px 10px;
  border: 1px solid slategray;
  border-radius: 10px;
  margin-left: 8px;
  box-shadow: -2px -2px 3px 3px rgba(215, 220, 215, 0.447),
  2px 2px 3px 3px rgba(58, 57, 57, 0.526);
}

button[type="submit"] {
  padding: 8px 10px;
  outline: none;
  border: green;
  border-radius: 8px;
  color: black;
  background-color: rgb(55, 203, 55);
  box-shadow: -2px -2px 3px 3px rgb(52, 54, 52) inset,
    2px 2px 3px 3px rgb(243, 255, 243) inset;
  cursor: pointer;
  margin: 10px auto;
}
